#myPanel {
    background: #2370DC;
}

.ui-header{
    height: 45px!important;
    background-color: #2370DC!important;
    border-color: #2370DC!important;
}

.ui-navbar {
    max-width: 100%;
    float: left;
    width: 100%;
}

.ui-header h1{
    color: #fff;
}

.ui-footer{
    background-color: #4B5360!important;
    border-color: #4B5360!important;
}

.ui-footer h1{
    color: white;
    text-shadow: none;
}

.ui-header .ui-icon-home, .ui-header .ui-icon-bars{
    background-color: #2370DC!important;
    border-color: #2370DC!important;
}

.ui-content{
    text-shadow: none;
}

ul.PanelItems li {
    background: #f6f6f6;
    float: left;
    width: 100%;
}

.homebtn{
    /*background-color: #2370DC!important;border-color: #2370DC!important;
    border-color: #2370DC!important;
    border-radius: 20px!important;
    padding: 5px!important;*/
    /*...*/
    padding: 0px!important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: 0 -1px 3px rgba(0,0,0,.15);
}

.myhomebtn:after {
    width: 38px !important;
    height: 38px !important;
    top: 12px !important;
    background-color: transparent !IMPORTANT;
    background-size: 33px 60px;
}

/*.homebtn img{
    width: 30px!important;
}*/

.mymenubtn:after {
    width: 38px !important;
    height: 38px !important;
    top: 12px !important;
    background-color: transparent !IMPORTANT;
    background-size: 33px 60px!important;
}

.mymenubtn {
    background: transparent !important;
    border: none !important;
    width: 50px!important;
    height: 40px!important;
    padding: 0;
}


.AppHeader{
    margin: 0 15%!important;
    /*...*/
    text-shadow: none!important;
    font-size: larger!important;
    font-weight: bold!important; 
    color: white!important;
    font-family: sans-serif!important;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    border-color: #BDBCBC!important;
    background-color: #BDBCBC!important;
}

.ui-listview h3 {
    max-width: 92%;
}

#overlay {
    position: absolute;
    left: 36%;
    top: 50%;
    /* bottom: 0; */
    width: 25%;
    height: 10%;
    /* right: 0; */
    background: #000;
    border-radius: 10px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.LogoPanel{
	float: left;
    margin-bottom: 15px;
}

.LogoPanel img{
    width: auto;
    margin-left:16%; 
    height:200px;
}

#smallover{
	left: 30%!important;
    top: 34%!important;
    width: 200px!important;
    height: 100px!important;
}

.Pages{
    padding: 0!important;
}

.Pages li{
    display: inline;
    margin-right: 10px;
    cursor: pointer;
}

.backbtn{
    float: left;
    height: 44px!important;
}

.backbtnph{
    width:100%;
    margin-bottom: 10px;
    float: left;
}

.VidCon{
    background: #ddd;
    border-color: #ddd;
    width: 100%;
    height: 200px;
    float: left;
    text-align: center;
    /*margin-bottom: 20px;
    padding: 20px;*/
}

.VidCon img {
    max-width: 500px;
}

.MyReportList{
    /*float: left;*/
    margin-bottom: 10px!important;
}

.NoReports{
    display: none;
    text-align: center;
    text-transform: uppercase;
}

.ReportSubBtn div {
    background: #2370DC!important;
    color: white!important;
    text-shadow: none!important;
}

.ContactDetails{
    display: none;
}

.ReportImg{
    display: none;
    width: 100%;
    float: left;
    text-align: center;
}

.ReportImg img{
    margin: 0 auto;
}

#info{
    height: 120px!important;
}

.vali{
    display: none;
    color: red;
    font-weight: bold;
}

.valiActive{
    margin-bottom: 10px;
    display: block!important;
}

/*.Photosec{
    width: 100%;
    float:left;
}

#UploadImg{
    float: left;
}

#ChooseImg{
    float: right;
}*/

#AddReport, #ClearReports{
    /*margin: 0 auto;*/
    background: #2370DC!important;
    font-size: 30px;
}

#AddReport:after, #ClearReports:after{
    background-size: 20px;
}

#ClearPhoto{
    background: #dc2323!important;
    font-size: 15px;
}

#ClearPhoto:after{
    background-size: 10px;
}